html, body {
	height: 100%;
	margin: 0;
	padding-right: 0px !important;
}

.land {
	background-image: url(./../images/total-background.png);
	background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

body .row {
	margin-left: 0px;
	margin-right: 0px;
}

header {
	background-color: white;
	background-size: 100%;
	height: 7vw;
}

header>div>div>div>img {
	width: 9.5vw;
	margin-top: 0.6vw;
	padding-right: 1vw;
}

header p {
	font-size: 0.9vw;
	margin-bottom: 0.4vw;
}

header .p-tag {
	margin-top: 1vw;
}

.navbar {
	padding: 0;
}

nav ul li a {
	font-size: 1.4vw;
}

.navbar-link {
	padding-right: 1vw;
	font-size: 1.2vw;
	padding-top: 0.2vw;
	color: black;
	font-weight: bolder;
}

.navbar-link:hover {
	text-decoration: underline;
	color: red;
}

.social {
	margin-top: 2.5vw;
}

.social-image1 {
	margin-right: 0.5vw;
	margin-left: 2vw;
	width: 1.5vw;
}

.social-image2 {
	margin-right: 4vw;
	margin-left: 0.5vw;
	width: 1.5vw;
}

.flag {
	width: 4.5vw;
	height: 2.5vw;
	margin-top: 2vw;
	justify-content: center;
	align-items: center;
}

.landing {
	position: relative;
}

.first-landing {
	margin-left: -5vw;
	width: 100%;
}

.first-yellow-text {
	font-family: 'chocolate_cyr-latregular';
	color: rgb(253, 204, 103);
	font-size: 2.4vw;
	margin-top: 2vw;
}

.first-white-lst {
	font-family: 'chocolate_cyr-latregular';
	color: white;
	font-size: 3.2vw;
	margin-top: 2vw;
	line-height: 1.2;
	letter-spacing: 0.1vw;
}

.first-white-2nd {
	font-family: 'chocolate_cyr-latregular';
	color: white;
	font-size: 2vw;
	margin-top: 2vw;
	line-height: 1.3;
	letter-spacing: 0.1vw;
}

.first-white-3rd {
	font-family: 'chocolate_cyr-latregular';
	color: rgb(197, 165, 99);
	font-size: 1.1vw;
	margin-top: 2vw;
	line-height: 1.6;
	letter-spacing: 0.1vw;
}

.first-button-1st, .first-button-2nd {
	width: 10.8vw;
    height: 3.5vw;
    margin-top: 1.8vw;
}

.first-button-1st {
	margin-right: 1vw;
}

.first-button-1st:hover, .first-button-2nd:hover {
	opacity: 0.8;
}

.first-button-1st:active, .first-button-2nd:active {
	transform: scale(1.1);
}

.second-landing {
	position: absolute;
	top: 60vw;
	margin-left: -5vw;
	width: 100%;
}

.second-landing .second-image {
	width: 8vw;
}

.second-white-1st {
	font-family: 'chocolate_cyr-latregular';
	color: white;
	font-size: 2.4vw;
	margin-top: 2vw;
	margin-bottom: 0.5vw;
	line-height: 1.2;
	letter-spacing: 0.2vw;
}

.second-white-2nd {
	color: white;
	font-size: 1vw;
	line-height: 1.2vw;
	margin-top: 1.2vw;
}

.second-white-2nd span{
	opacity: 0.5;
}

.second-button-1st, .second-button-2nd {
	width: 10.8vw;
    height: 3.5vw;
    margin-top: 1.8vw;
    margin-bottom: 1vw;
}

.second-button-1st {
	margin-right: 1vw;
}

.second-button-1st:hover, .second-button-2nd:hover {
	opacity: 0.8;
}

.second-button-1st:active, .second-button-2nd:active {
	transform: scale(1.1);
}

.third-landing {
	position: absolute;
	top: 119vw;
	width: 100%
}

.third-white-1st {
	font-family: 'chocolate_cyr-latregular';
	color: white;
	font-size: 1.4vw;
	letter-spacing: 0.15vw;
}

.third-white-1st span, .third-yellow-1st span {
	float: right;
}

.third-yellow-1st {
	font-family: 'chocolate_cyr-latregular';
	color: rgb(253, 204, 103);
	margin-top: 2vw;
	font-size: 2.7vw;
	letter-spacing: 0.4vw;
}

.third-button-text{
	color: white;
	font-size: 1vw;
	line-height: 1;
	width: 8.2vw;
	text-align: center;
}

.third-button-image {
	width: 6.5vw;
	text-align: center;
	margin-left: 1vw;
}

.third-buttons {
	justify-content: space-between;
	margin-top: 1vw;
}

.third-button-group {
	margin-top: 2vw;
}

.third-button-image:hover {
	opacity: 0.5;
}

.third-button-image:active {
	transform: scale(1.02);
}

.third-click-button {
	/*margin-left: 0.8vw;*/
}

.forth-landing {
	position: absolute;
	top: 176vw;
	width: 100%
}

.forth-instagram {
	width: 4vw;
}

.forth-instagram:hover {
	opacity: 0.7;
}

.forth-instagram:active {
	transform: scale(1.05);
}

.forth-text {
	font-family: 'chocolate_cyr-latregular';
	font-size: 2.5vw;
	color: rgb(253, 204, 103);
	line-height: 1.2;
	margin-top: 0.5vw;
}

.fifth-landing {
	position: absolute;
	top: 246vw;
	width: 100%;
}
.fifth-text-1st, .fifth-text-2nd, .fifth-text-3rd {
	font-family: 'chocolate_cyr-latregular';
	color: white;
}

.fifth-text-1st {
	font-size: 1.1vw;
	letter-spacing: 0.1vw;
}

.fifth-text-2nd {
	font-size: 2vw;
	letter-spacing: 0.05vw;
	translate: uppercase;
	margin-top: 0.3vw;
}

.fifth-text-3rd {
	font-size: 0.7vw;
	translate: uppercase;
	letter-spacing: 0.1vw;
	margin-top: 2.5vw;
}

.fifth-text-4th {
	font-family: 'chocolate_cyr-latregular';
	color: rgb(253, 204, 103);
	font-size: 1.5vw;
	margin-top: 40vw;
	line-height: 1.2
}

footer {
	position: absolute;
	top: 314vw;
	background-color: white;
	width: 100%;
}

.footer-image {
	width: 9.5vw;
	margin-top: 3vw;
	margin-bottom: 3vw;
	padding-right: 1vw;
}

.footer-text-1st {
	margin-top: 2.7vw;
	font-size: 0.9vw;
	font-weight: bolder;
}

.footer-social {
	justify-content: flex-start;
	margin-top: 0.5vw;
	font-size: 5vw;
	padding-left: 0;
}

.footer-social a {
	font-size: 0.8vw;
	font-weight: bold;
	background-color: rgb(74, 103, 183);
	border-radius: 0.3vw;
	color: white;
	padding: 0.1vw 0.3vw;
	margin-right: 1vw;
	text-decoration: none;
}

.footer-social img {
	margin-top: -0.2vw;
	width: 1vw;
}

.footer-facebook {
	width: 1vw;
}

.footer-navbar-group {
	margin-top: 0.7vw;
}

.footer-navbar-link {
	padding-right: 1vw;
	font-size: 1vw;
	padding-top: 0.2vw;
	color: black;
	font-weight: bolder;
}

.footer-navbar-link:hover {
	text-decoration: underline;
	color: red;
}

.footer-text-2nd {
	font-size: 0.8vw;
	padding: 0;
	margin-top: 0.7vw;
}


.third-first-button-1st, .fifth-first-button-1st {
	width: 10.8vw;
    height: 3.5vw;
    margin-top: 1.8vw;
}

.third-first-button-1st:hover, .fifth-first-button-1st:hover {
	opacity: 0.8;
}

.third-first-button-1st:active, .fifth-first-button-1st:active {
	transform: scale(1.1);
}

/*Form1*/
.Form1-background {
	background-image: url('./../images/Form1/Form1-background.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.Form1 {
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-55%);
}

.card-Form1 {
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	margin: 0 auto;
    float: none;
    /*margin-bottom: 10px;*/
    width: 50vw;
    height: 33vw;
    border-radius: 1vw;
}

.logo-image {
	margin: -5vw auto;
    float: none;
    margin-bottom: 2vw;
	width: 10vw;
	height: 10vw;
}

.Form1-text {
	margin-top: 0.3vw;
	font-size: 1.6vw;
	font-weight: 600;
	line-height: 1.1;
	opacity: 0.8;
}

.sub-card {
	margin: 0 auto;
    float: none;
	width: 21vw;
	height: 16vw;
	border-radius: 1vw;
	background-color: #ddd;
	position: relative;
}

.card-row {
	margin-top: 3vw;
	margin-left: -15px!important;
}

.sub-card img {
	width: 10vw;
	position: absolute;
	top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-55%);
}

.subcard-text {
	font-size: 1vw;
	font-weight: 600;
	position: absolute;
	top: 85%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-55%);
}

.boy-logo {
	width: 7vw!important;
}

.Form-footer {
	color: white;
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 50vw;
    height: 10vw;
    float: none;
	position: absolute;
    top: 105%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%);
}

@media screen and (max-width: 772px) {
	.Form1-text {
		margin-left: 15%;
		max-width: 70%;
		flex: 0 0 100%;
	}

	.card {
		padding-right: 2vw;
		padding-left: 2vw;
	}
}

@media screen and (max-width: 400px) {
	.Form1-text {
		margin-left: 0%;
		max-width: 100%;
		flex: 0 0 100%;
	}

	.card {
		padding-right: 1vw;
		padding-left: 1vw;
	}
}

.Form-footer a {
	font-weight: 400;
	margin-right: 1vw;
}

.Form-footer-text {
	margin-top: 1.5vw;
	opacity: 0.7;
	font-size: 0.7vw;
}

.Form-social {
	margin-top: 1vw;
}

#footer-instagram {
	margin-right: 0.8vw;
}

.Form-social img {
	width: 1.4vw;
}

/*Form2*/

.Form2-background {
	background-image: url('./../images/Form2/Form2-background.png');
	background-size: 100% 2000px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.Form2, .Form3 {
	position: absolute;
	top: 16%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%);
}

.card-Form2 {
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	margin: 0 auto;
    float: none;
    /*margin-bottom: 10px;*/
    width: 50vw;
    height: 50vw;
    border-radius: 1vw;
}

.select-group {
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin-top: 1vw;
}

.card-Form2 .label {
	font-size: 0.8vw;
}

select, .Form4-input input {
	background-color: #eee;
	border: none;
	border-radius: 5vw;
	padding: 0.65vw;
	width: 20vw;
	outline: 0px;
	font-size: 0.8vw!important;
	color: #444;
	font-weight: 600;
	-moz-box-shadow:    inset 0 0 0.3vw #aaa;
    -webkit-box-shadow: inset 0 0 0.3vw #aaa;
    box-shadow:         inset 0 0 0.3vw #bbb;
}

optgroup {
	font-size: 0.8vw;
}

a.name_question {
	color: #aaa;
	font-size: 0.8vw;
	margin-left: 13.7vw;
	margin-top: 0.3vw;
}

.Form2-third-title {
	justify-content: space-start;
	align-items: center;
	padding: 0;
	margin-top: 1vw;
}

.Form2-third-title .title {
	margin-left: 1.4vw;
	opacity: 0.6;
	font-size: 0.8vw;
	font-weight: 600;
}

.drag-drop {
	background-image: url('./../images/Form2/fileupload.png');
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 50% 60%;
	width: 10.6vw;
	height: 13vw;
	border: 2px dashed #aaa;
	border-radius: 0.5vw;
	position: relative;
}

.Form2-filegroup, .Form3-filegroup {
	justify-content: space-between;
	padding: 0;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.drag-drop input {
	position: relative;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}

.drag-drop a {
	position: absolute;
	top: 80%;
	left: 0;
	text-align: center;
	font-size: 0.8vw;
	width: 100%;
	font-weight: 600;
	text-decoration: underline;
	color: #aaa;
}

.Form2-button {
	width: 10vw;
	height: 3vw;
	border: none;
	color: #ddd;
	font-size: 1vw;
	font-weight: 400;
	letter-spacing: 0.01vw;
	border-radius: 2vw;
	outline: none;
	box-shadow: inset 0 -10px 12px rgba(0, 0, 0, 0.5);
	background-color: rgb(218, 10, 0);
}

.Form2-Next {
	margin: 3vw auto;
}

button.Form2-button:hover {
	opacity: 0.8;
}

button.Form2-button:focus {
    outline: 0;
}

button.Form2-button:active {
	transform: scale(1.05);
}

/*Form3*/

.Form3-background {
	background-image: url('./../images/Form3/Form3-background.png');
	background-size: 100% 2900px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.card-Form3 {
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	margin: 0 auto;
    float: none;
    width: 50vw;
    height: 70vw;
    border-radius: 1vw;
}

.Form3-title {
	justify-content: space-start;
	padding: 0;
	margin-top: 0.3vw;
}

.Form3-title .label {
	font-size: 0.8vw;
}

.Form3-title .title {
	margin-left: 1.4vw;
	opacity: 0.6;
	font-size: 0.8vw;
	font-weight: 600;
}


.drag-drop-Form3 {
	background-image: url('./../images/Form2/fileupload.png');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 13vw;
	border: 2px dashed #aaa;
	border-radius: 0.5vw;
	position: relative;
}

.drag-drop-Form3 input {
	position: relative;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}

.drag-drop-Form3 a {
	position: absolute;
	top: 75%;
	left: 0;
	text-align: center;
	font-size: 0.8vw;
	width: 100%;
	font-weight: 600;
	text-decoration: underline;
	color: #aaa;
}

.Form3-Next {
	margin: 2vw auto;
}

/*Form4*/

.Form4-background {
	background-image: url('./../images/Form4/Form4-background.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.Form4 {
	position: absolute;
	top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.card-Form4 {
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	margin: 0 auto;
    float: none;
    width: 50vw;
    height: 24vw;
    border-radius: 1vw;
}

.Form4-button {
	width: 12vw;
	margin: 2vw auto;
}

.Form4-input{
	margin-top: 1.2vw;
}

.Form4-text {
	margin-top: 0;
	margin-bottom: 0.3vw;
}

.modal-dialog {
	max-width: 800px;
	margin: 300px auto;
}

.modal-body {
	position:relative;
	padding:0px;
}
.close {
	position:absolute;
	right:-30px;
	top:0;
	z-index:999;
	font-size:2rem;
	font-weight: normal;
	color:#fff;
	opacity:1;
}
